.Product {


    .product-card {
        height: 25rem;
        

        .card-link {
            height: 18rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .card-img {
                max-height: 13rem;


            }
        }

        
    

    }
}