.cart-screen {
  .cart-body {
    display: flex;
    column-gap: 20px;
    .products-in-cart {
      flex-grow: 5;
    }
    .cart-details-box {
      flex-grow: 2;
      display: flex;
      height: fit-content;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      border: 1px solid #dfdfdf;
      padding: 10px;
      .subtotal {
        font-size: 20px;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px;
      }
    }
  }
}
