.login-page {
  h1 {
    text-align: center;
  }
  .login-form {
    margin: 10px auto;
    width: fit-content;
  }
  p {
    margin-top: 10px;
  }

  .formik-error{
    color: red;
    font-style: italic;
    font-size: smaller;
  }
}
