.payment-page {
  .payment-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    h1 {
      margin-bottom: 20px;
    }
    .continue-button {
      margin-top: 20px;
    }
  }
}
