.productInCart {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // border: 1px solid #dfdfdf;
  // padding: 10px;

.row-container{
  

  .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 80px;
      width: 80px;
    }
  }


}

  // a {
  //   width: 150px;
  // }
  // .quantity-settings {
  //   display: flex;
  //   align-items: center;
  //   column-gap: 7px;
  // }
}
